@import url("./style.css");

.header-card{
    padding-bottom: 4rem;
}

table{
    color: white;
    font-family: 'blackop';
    margin: 0 auto;
    background-color: black;
    border: hsl(208, 40%, 40%) ridge 0.01rem;
    height: 25%;
    width: 75%;
}
thead > tr,th{
    padding: 2rem;
}
thead > tr,th{
    background: linear-gradient(to right, hsl(0, 85%, 45%)20%, hsla(0, 85%, 35%, 0.459)); 
}

table > caption{
    font-size: xx-large;
    padding: 5%;
    background: linear-gradient(to right, hsl(0, 85%, 45%)20%, hsla(0, 85%, 35%, 0.459)); ;
}

tbody > tr:nth-child(odd){
    background: linear-gradient(to right, hsl(0, 85%, 45%)20%, hsla(0, 85%, 35%, 0.459)); 
}
tbody > tr:nth-child(even){
    background: linear-gradient(to right, hsl(0, 85%, 30%)20%, hsla(0, 85%, 35%, 0.459)); 
}

td{
    text-align: center;  
    margin: 1rem;
    padding: 0.2rem;
}
tfoot{
    background: linear-gradient(to right, hsl(0, 85%, 45%)20%, hsl(0, 85%, 35%)); 
}


.page-content__container {
    display: flex;
    flex: 1 2rem;
    width: 50%;
    height: 50%
}

.page-content__card {
    padding: 1 1rem;
}

@media print {
    header, footer, aside, form, … {
      display: none;
    }
    article {
      width:100%!important;
      padding:0!important;
      margin:0!important;
    }
  }
  @page {
    margin: 2cm;
  }